.sidebar {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 15px 20px 15px 15px;
    box-shadow: inset -1px 0 5px rgba(0, 0, 0, .1);
}

.sidebar a {
    color: #343a40;
}

#channels {
    overflow-y: auto;
    flex-wrap: nowrap;
    height: 100%;
}

#channels::-webkit-scrollbar {
    width: 0px;
}

main {
    margin: 56px 0 0 16.5%;
    padding-top: 0.5rem;
    padding-bottom: 3rem;
}

#chat-box {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 81.5%;
    padding: 0.5rem 0;
    background-color: white;
}

#chat-entry {
    margin-right: 0.5rem;
}

.chat-message {
    margin-bottom: 1rem;
}

.chatter-name,
.chatter-time {
    font-size: 0.8em;
}

.chatter-name {
    color: #68747F;
    margin-left: 0.2rem;
}

.chatter-time {
    color: #9CAFBF;
}

#new-channel {
    margin-left: 1rem;
    display: none;
}

#new-channel input {
    margin-right: 0.5rem;
}
